/*style for the ul /ol for subject*/

ol,
ul {
  list-style: none
}

#subject > li {
  float: left;
  margin-left: 50px;
}

.math {}

.hidden {
  visibility: hidden;
}

.show {
  visibility: collapse;
}

.subject-wrapper {
  margin: 10px;
  padding: 20px;
}